# 프로젝트 내 모든 파일과 폴더를 무시합니다.
*

# src 폴더만 무시하지 않고 추적합니다.
!/src/
# src/main 폴더를 무시하지 않습니다.
!/src/main/
# src/main/webapp 폴더를 무시하지 않습니다.
!/src/main/webapp/
# src/main/webapp/sorce 폴더는 무시하지 않습니다.
!/src/main/webapp/sorce/


# 이클립스 관련 파일
.metadata/
.recommenders/
.settings/
*.launch
*.project
*.prefs

# 톰캣 서버 관련 파일
webapps/
wtpwebapps/
Servers/

# 빌드 및 컴파일 관련
build/
target/
bin/
classes/
*.class

# 기타 운영체제 파일
.DS_Store
Thumbs.db

ymjsp/
